

<h1>About</h1>
<p>
	<%= link_to "One Month Rails", "http://onemonthrails.com" %>
	is a project to teach <% link_to "Ruby on Rails","http://rubyonrails.org" %>
<<<<<<< HEAD


</p>

Hey Jesse & Elyse!
=======
</p>

>>>>>>> 2c00429021b8732d82e8b2ed7e56a1257da92408
